### 변수

In [ ]:
# 할당 연산자 or 대입연산자 or 치환 연산자 : <-, ->, =
x = 1
y = 2
x
y

In [18]:
(x=5)

[1] 5

In [19]:
x

[1] 5

In [20]:
rm(x)

In [21]:
x

ERROR: Error in eval(expr, envir, enclos): 객체 'x'를 찾을 수 없습니다

In [22]:
ls() #list - 목록보기, 메모리상에 저장된(할당된) 객채의 변수

[1] "y"

### Factor

In [27]:
#factor(팩터로 변환할 벡터, 팩터의 범주, ordered = T or F (서열이 있으면 T , 생략시 F))
gender = factor('m', c('m','f'))
gender

[1] m
Levels: m f

In [29]:
#범주의 수
nlevels(gender)

[1] 2

In [30]:
levels(gender)

[1] "m" "f"

In [31]:
#데이터 타입 : mode
mode(gender)

[1] "numeric"

In [32]:
#객체 타입
class(gender)

[1] "factor"

In [33]:
#객체 정보 확인 : R에서 모든 자료형을 또는 자료구조를 객체로 취급한다.
str(gender)

 Factor w/ 2 levels "m","f": 1

In [36]:
#factor의 level 수정
#변수는 하나의 데이터를 담는다.
#변수는 새로운 값이 들어오면 그전에 저장된 값은 지워짐

levels(gender) = c('male','female')
gender

[1] male
Levels: male female

In [40]:
#서열형 데이터 factor(c('a','b','c'), ordered = T)
ordered(c('a','b','c')) #a<b<c

[1] a b c
Levels: a < b < c

In [42]:
ch = factor('a',c('a','b','c'), ordered = T)
ch

[1] a
Levels: a < b < c

### 벡터

In [49]:
#c() 함수 , start:end == seq 
x1 = c(1,2,3,4)
x1

[1] 1 2 3 4

In [50]:
x2=1:15 #시작 : 끝 
x2

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

In [51]:
x3 = c('a','b','c') #문자형으로 만들 수 있음
x3

[1] "a" "b" "c"

In [55]:
y=c(x1, 0, x2) #벡터 안에 벡터를 넣으면 합쳐진 벡터가 나옴
y

 [1]  1  2  3  4  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

In [57]:
#append(a,b) : 합칠 수 있음
z= append(x1, x2)
z

 [1]  1  2  3  4  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

In [59]:
#vector(length = n)
vector(length = 5) #기본 값이 F이라 길이 만큼 출력

[1] FALSE FALSE FALSE FALSE FALSE

In [61]:
c(1,3,5, c(4:6)) #벡터 안에 벡터 넣기도 가능

[1] 1 3 5 4 5 6

In [66]:
#seq(시작값 , 종료값, 증가) 
#seq(from = , to= , by=) 
#등차 수열이라고 생각시면 됩니다
seq(1, 10 , 2)
seq(from = 1 , to = 10 , by = 2)
seq(0, 1, 0.1)
seq(0, 1, length = 11) #11개의 상수를 만든다
seq(10) # 시작값의 기본 값은 1 이고 , 증가값의 기본 값도 1

[1] 1 3 5 7 9

[1] 1 3 5 7 9

 [1] 0.0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0

 [1] 0.0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0

 [1]  1  2  3  4  5  6  7  8  9 10

In [69]:
#rep(벡터, times = 반복횟수) 
rep(c(1:3), times = 3) #1 2 3을  3번 반복
rep(c(1:3), 3) #생략 가능
rep(c(1:3), each = 3) # 값은 값끼리 3번 반복

[1] 1 2 3 1 2 3 1 2 3

[1] 1 2 3 1 2 3 1 2 3

[1] 1 1 1 2 2 2 3 3 3

In [72]:
#unique() : 중복을 제거하고 고유값을 추출하는 함수
x = rep(c('a','b','c'), times=4) 
x
unique(x)

 [1] "a" "b" "c" "a" "b" "c" "a" "b" "c" "a" "b" "c"

[1] "a" "b" "c"

In [75]:
# v(벡터)[indiex],[조건식],[행조건, 열조건],[행시작: 행마지막, 열시작 : 열마지막]
x=1:10 #1~10까지 벡터 생성
x
x[3] #3번째 값만 출력
x[2:4] #2~4번째 값만 출력
x[c(1,3,5)] #1, 3, 5 번째 값만 출력

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 3

[1] 2 3 4

[1] 1 3 5

In [81]:
y = c(a=1, b=3, c=7)
y

a b c
1 3 7

In [82]:
y[2]

b
3

In [83]:
y[c('a','c')]

a c
1 7

In [76]:
xx = c(1,4,8)
xx

[1] 1 4 8

In [79]:
#names():벡터의 이름 설정
names(xx) = c('aaa','bbb','ccc') #이름 설정
xx
names(xx) #이름을 출력하고 싶을 때 출력

aaa bbb ccc
  1   4   8

[1] "aaa" "bbb" "ccc"

In [88]:
aa=c(11:20)
aa
aa[c(1,3,5,6)]#1,3,5,6번째 출력
index=c(1,3,5,6)
aa[index] #변수 지정후 사용 가능
aa[c(6,5,3,1)]#순서를 바꿔서 생성 가능

 [1] 11 12 13 14 15 16 17 18 19 20

[1] 11 13 15 16

[1] 11 13 15 16

[1] 16 15 13 11

[1] 13 14 15

In [89]:
x=c('a','b','c')
x[-1] #1번 값만 빼고 출력
x[-2] #2번 값만 빼고 출력

[1] "b" "c"

[1] "a" "c"

In [ ]:
#벡터의 길이 : length() or NROW() -반드시 대문자로 써야함

In [90]:
x=c('a','b','c')
length(x) #벡터의 길이 출력 (원소의 갯수)
NROW(x) #위와 동일

[1] 3

[1] 3

In [91]:
x=1:10
mean(x) #평균
range(x) #최대값과 최솟값
var(x) #분산
sd(x) #표준편차

[1] 5.5

[1]  1 10

### 벡터 연산

In [97]:
# 벡터안에 원소를 변경해보자

a=c(1:5)
a
a[3] = 10 #3번째 값을 10으로 변경
a
a[c(2,4)] = 9 #2, 4번째 값을 9로 변경
a
a[a>5] = 3 #a의 값 중 5보다 큰 값을 3으로 변경
a
a[2:5] = 0 #2~5까지의 값을 0으로 변경

[1] 1 2 3 4 5

[1]  1  2 10  4  5

[1]  1  9 10  9  5

[1] 1 3 3 3 5

In [105]:
#퀴즈 다음 주어진 벡터의 모든 요소를 1로 변경하시오
v_a = 2:15
v_a
v_a[] = 1
v_a
v_a[1:length(v_a)] = 2
v_a

 [1]  2  3  4  5  6  7  8  9 10 11 12 13 14 15

 [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1

 [1] 2 2 2 2 2 2 2 2 2 2 2 2 2 2

In [112]:
#추가 , c()
v_add = c(1,2,3,4,5)
v_add = c(0, v_add) #맨앞에 0 추가
v_add
v_add = c(c(-2,-1), v_add) #v_add 앞에 -2, -1을 추가
v_add
v_add = c(v_add, 6) #뒤에 6을 추가
v_add

[1] 0 1 2 3 4 5

[1] -2 -1  0  1  2  3  4  5

[1] -2 -1  0  1  2  3  4  5  6

In [114]:
a = c(1,2,3)
b = c(4,5,6)
c = c(7,8,9)

new_v = c(a,b,c)
new_v #벡터끼리 합치기

[1] 1 2 3 4 5 6 7 8 9

In [115]:
#append (벡터1, 벡터2 , index) : 벡터1 원소 index 위치에 벡터2 사입
v_a = c('A','B','C','F','G')
v_b = c('D', 'E')
v_a
v_b
append(v_a, v_b)
append(v_a, v_b, 3) #4번째 부터v_b가 들어간 것을 확인 할 수 있음

[1] "A" "B" "C" "F" "G"

[1] "D" "E"

[1] "A" "B" "C" "F" "G" "D" "E"

[1] "A" "B" "C" "D" "E" "F" "G"

In [117]:
t_v = 11:20
t_v
t_v[-c(1,3,5,6)] #1, 3, 5,6 제거하고 추출
t_v[-length(t_v)] #맨 마지막 행 제거

 [1] 11 12 13 14 15 16 17 18 19 20

[1] 12 14 17 18 19 20

[1] 11 12 13 14 15 16 17 18 19

In [126]:
#!(NOT 연산자), 논리 부정
logical_v = c( F, T, T, F, F)
logical_v
!logical_v #부정하여서 반대로 출력함

#Fancy index : 팬시인덱스 , 논리조건식을 이용한 인덱스 처리
v_str = c('첫번째', '두번째','세번째','네번째','다섯번째')
v_str
v_str[2:3] 
v_str[c(2,3)]#위와 동일
v_str[logical_v] #T인 값만 출력
v_str[!logical_v] #F인 값을 출력 하기위해 반전을 넣어서 출력

[1] FALSE  TRUE  TRUE FALSE FALSE

[1]  TRUE FALSE FALSE  TRUE  TRUE

[1] "첫번째"   "두번째"   "세번째"   "네번째"   "다섯번째"

[1] "두번째" "세번째"

[1] "두번째" "세번째"

[1] "두번째" "세번째"

[1] "첫번째"   "네번째"   "다섯번째"

In [134]:
#벡터의 사칙연산 : 벡터화 연산
a = c(1,2,3,4)
b = c(5,6,7,8)

a+b #더하기
a-b #빼기
e= a*b #곱하기
e
f= a/b #나누기
f
a + 2 #각 원소에게 +2

x = c(4,5,6)
a+x #같은 원소 자리끼리에 있는 값끼리 연산이 되긴 하나 경고가 발생함

[1]  6  8 10 12

[1] -4 -4 -4 -4

[1]  5 12 21 32

[1] 0.2000000 0.3333333 0.4285714 0.5000000

[1] 3 4 5 6

Warning message in a + x:
"두 객체의 길이가 서로 배수관계에 있지 않습니다"

[1] 5 7 9 8

In [136]:
# %in% : ~ 안에 포함여부를 판정하는 연산자

'a' %in% c('a','b','c') #안에 a가 있어서 T
'd' %in% c('a','b','c') #안에 d가 없어서 F

[1] TRUE

[1] FALSE

In [138]:
#벡터를 집합을 취급, 집합연산자(합집합, 교집합, 차집합)
#집합(set)은 중복을 허락하지 않는다.

#합집합
union(c('a','b','c'), c('a','d')) #합하고 중복제거해서 출력

#교집합
intersect(c('a','b','c'), c('a','d')) #겹치는 값 출력

#차집합
setdiff(c('a','b','c'), c('a','d')) # 앞에 집합에서 교집합만 제거

[1] "a" "b" "c" "d"

[1] "a"

[1] "b" "c"

In [140]:
#집합의 비교연산 equals 의미
setequal(c('a','b','c'),c('a','d')) #원소값이 서로 같지 않음으로 F
setequal(c('a','b','c'),c('a','b','b','c')) #원소값이 서로 같으므로 T

[1] FALSE

[1] TRUE

In [143]:
#all()- 모두, 전부 / any() -어느거 하나라도 
x=1:10
x
x>5
all(x>5) # 모든 x 값이 5보다 큽니까? F
any(x>5) # 어느 x 값중 5보다 큰 값이 하나라도 있습니까? T

 [1]  1  2  3  4  5  6  7  8  9 10

 [1] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

[1] FALSE

[1] TRUE

### 행렬

In [150]:
#martix(벡터, 옵션) : nrow- 행의 수, ncol - 열의 수

matrix(1:9, nrow=3) #1열부터 차례대로 써짐
matrix(1:9, nrow=3, byrow = T) #1행부터 차례대로 써짐
matrix(1:9, c(3,3)) #3X3 행렬 생성 (위와 동일)
matrix(1:9, c(3,3), byrow = T) #위와 동일

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [155]:
#행과 열의 이름을 부여할 수 있다
#dimnames 옵션 : list타입으로 담아야 한다

x = matrix(1:9,nrow=3, dimnames = c(c('item1','itme2','item3'),c('data1','data2','data3'))) # dimnames는 list로!
x

ERROR: Error in matrix(1:9, nrow = 3, dimnames = c(c("item1", "itme2", "item3"), : 'dimnames' must be a list

In [160]:
x = matrix(1:9,nrow=3, dimnames = list(c('item1','item2','item3'),c('data1','data2','data3')))
x

      data1 data2 data3
item1 1     4     7
item2 2     5     8
item3 3     6     9

In [167]:
#행렬이름[행인덱스, 열인덱스]
x[2,2]
x['item2','data2'] #이름으로도 값을 출력 할 수 있음

x[1,] #1행의 값을 출력하시오
x[,1] #1열의 값을 출력하시오
x[-3,] #3행의 값을 빼고 출력하시오
x[-2,-2]#2번째 행 제거
x[c(1,3),c(1,3)] #위와 동일

[1] 5

[1] 5

data1 data2 data3
    1     4     7

item1 item2 item3
    1     2     3

      data1 data2 data3
item1 1     4     7
item2 2     5     8

      data1 data3
item1 1     7
item3 3     9

      data1 data3
item1 1     7
item3 3     9

In [172]:
x = matrix(1:9, nrow=3)
x

x+2 # 모든 값에 +2
#다른 연산도 마찬가지

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

     [,1] [,2] [,3]
[1,] 3    6     9
[2,] 4    7    10
[3,] 5    8    11

In [183]:
x=matrix(1:4, nrow=2)
y=matrix(5:8, nrow=2)
x
y

#행렬의 연산
x+y
x-y
x*y #행렬의 곱이 아님
x %*% y #행렬곱
x/y
t(x) #전치행렬 
solve(x) #역행렬
x %*% solve(x) #역행렬 성질은 원래 행렬과 만나면 항등행렬이 됩니다 ^^!
det(x) #행렬값 : 역행렬의 유무 확인, 0이면 역행렬이 존재하지 않습니다

     [,1] [,2]
[1,] 1    3
[2,] 2    4

     [,1] [,2]
[1,] 5    7
[2,] 6    8

     [,1] [,2]
[1,] 6    10
[2,] 8    12

     [,1] [,2]
[1,] -4   -4
[2,] -4   -4

     [,1] [,2]
[1,]  5   21
[2,] 12   32

     [,1] [,2]
[1,] 23   31
[2,] 34   46

     [,1]      [,2]
[1,] 0.2000000 0.4285714
[2,] 0.3333333 0.5000000

     [,1] [,2]
[1,] 1    2
[2,] 3    4

     [,1] [,2]
[1,] -2    1.5
[2,]  1   -0.5

     [,1] [,2]
[1,] 1    0
[2,] 0    1

[1] -2

In [186]:
#행렬의 행의수와 열의 수
nrow(x)
ncol(x)

y=matrix(1:6, ncol = 3)
nrow(y)

[1] 2

[1] 2

[1] 2

### 배열

In [198]:
x = array(1:12, dim=c(3,4)) #2차원 array
x

xx = matrix(1:12, ncol = 4) #행렬로도 똑같이 만들 수 있음
xx

x[1,1]

y = array(1:12 , dim= c(2,2,3)) #차원 array
y #출력된 값이 3차원으로 표시 할 수 없음
y[1,1,1] 
y[1,,]
y[,1,]
dim(y) #차수 출력. 3개 이므로 3차원이라 할 수 있음
sum(y) #array 안에 있는 원소들의 합

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

[1] 1

, , 1

     [,1] [,2]
[1,]    1    3
[2,]    2    4

, , 2

     [,1] [,2]
[1,]    5    7
[2,]    6    8

, , 3

     [,1] [,2]
[1,]    9   11
[2,]   10   12

[1] 1

     [,1] [,2] [,3]
[1,] 1    5     9
[2,] 3    7    11

     [,1] [,2] [,3]
[1,] 1    5     9
[2,] 2    6    10

[1] 2 2 3

[1] 78

In [202]:
#apply 
z = array (1:12, c(3,4))
z
apply(z, 1, mean) #행끼리 평균
apply(z, 1, sum) #행끼리 합

apply(z, 2, mean) #열끼리 평균
apply(z, 2, sum) #열끼리 합

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

[1] 5.5 6.5 7.5

[1] 22 26 30

[1]  2  5  8 11

[1]  6 15 24 33

In [206]:
#sample
w= array(1:18, c(3,6))
w
sample(w, 3) #array 원소에서 랜덤으로 추출


sample(1:45, 6) #1~45중 6개 랜덤으로 추출
sample(1:6, 10 , rep = T) #1~6 중 복원추출

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1    4    7    10   13   16
[2,] 2    5    8    11   14   17
[3,] 3    6    9    12   15   18

[1] 18  1 15

[1] 23 18 10 37 24  8

### DataFrame

In [ ]:
#data.frame(v1, v2, v3, ... , stringsAsFactor= T or F)

In [216]:
a = data.frame(x=c(1,2,3,4,5), y= c(2,4,6,8,10))
a

b=data.frame(x=c(1,2,3,4,5),
            y= c(2,4,6,8,10),
            z=c('M','F','M','F','M'))
b
str(b)

  x y
1 1  2
2 2  4
3 3  6
4 4  8
5 5 10

  x y  z
1 1  2 M
2 2  4 F
3 3  6 M
4 4  8 F
5 5 10 M

'data.frame':	5 obs. of  3 variables:
 $ x: num  1 2 3 4 5
 $ y: num  2 4 6 8 10
 $ z: Factor w/ 2 levels "F","M": 2 1 2 1 2

In [219]:
#기존에 데이터 프레임에 새로운 열 추가
#파생변수

b$v=c(3,6,9,12,15) #v 라는 열을 추가. 값은 옆의 벡터
b

  x y  z v
1 1  2 M  3
2 2  4 F  6
3 3  6 M  9
4 4  8 F 12
5 5 10 M 15

In [225]:
df = data.frame(name = c('홍길동','이순신','장보고'), age = c(12,29,31))
df
str(df)

df1 = data.frame(name = c('홍길동','이순신','장보고'), age = c(12,29,31), stringsAsFactors=F) #factor가 아니라 문자열로
str(df1)

  name   age
1 홍길동 12
2 이순신 29
3 장보고 31

'data.frame':	3 obs. of  2 variables:
 $ name: Factor w/ 3 levels "이순신","장보고",..: 3 1 2
 $ age : num  12 29 31
'data.frame':	3 obs. of  2 variables:
 $ name: chr  "홍길동" "이순신" "장보고"
 $ age : num  12 29 31

In [234]:
df$name #factor (df에서 name 열만 출력)
df1$name #문자열

df1$age
df1[,'age'] #위와 같음
df1[,c('age')] #위와 같음
df1[,c('age'), drop=F] #데이터 프레임으로 출력

[1] 홍길동 이순신 장보고
Levels: 이순신 장보고 홍길동

[1] "홍길동" "이순신" "장보고"

[1] 12 29 31

[1] 12 29 31

[1] 12 29 31

  age
1 12
2 29
3 31

In [237]:
df1[2,1] #2행 1열 값 출력
df1[2,] #2행값 출력
df1[-1,] #1번 행 빼고 모두 출력

[1] "이순신"

  name   age
2 이순신 29

  name   age
2 이순신 29
3 장보고 31

In [240]:
#데이터프레임 행이름, 열이름만 추출
colnames(df1) # 열이름 출력
rownames(df1) # 행이름 출력

[1] "name" "age"

[1] "1" "2" "3"

[1] "name" "age"

In [242]:
# 여러 개의 벡터가 모여서 데이터 프레임이 생성된다
name = c('홍길동','장보고','이순신','강감찬','김유신')
age = c( 17,21,19,31,22)
gender = factor(c('M','F','M','F','M'))
blood.type = factor(c('A','O','B','AB','O'))

patients = data.frame(name, age, gender, blood.type) #순서를 바꾸면 바뀜
patients

  name   age gender blood.type
1 홍길동 17  M      A
2 장보고 21  F      O
3 이순신 19  M      B
4 강감찬 31  F      AB
5 김유신 22  M      O

In [243]:
patients1 = data.frame(name = c('홍길동','장보고','이순신','강감찬','김유신'),
                      age = c( 17,21,19,31,22),
                       gender = factor(c('M','F','M','F','M')),
                       blood.type = factor(c('A','O','B','AB','O'))) #직접 입력도 가능
patients1

  name   age gender blood.type
1 홍길동 17  M      A
2 장보고 21  F      O
3 이순신 19  M      B
4 강감찬 31  F      AB
5 김유신 22  M      O

In [245]:
patients1[3,1]

#이순신 정보만 추출
#[인덱스],[:],[조건식],[행인덱스, 열인덱스],[:,:], [행조건식, 열조건식]
patients1[3,]

[1] 이순신
Levels: 강감찬 김유신 이순신 장보고 홍길동

  name   age gender blood.type
3 이순신 19  M      B

In [248]:
patients1[patients1$name=='이순신',] #행에서 이순신이 있는 행 출력
patients1[patients1$name=='이순신',c('age')] #행에서 이순신이 있는 행의 나이만 출력
patients1[patients1$name=='이순신',c('age', 'blood.type')] #행에서 이순신이 있는 행의 나이랑 혈액형 출력

  name   age gender blood.type
3 이순신 19  M      B

[1] 19

  age blood.type
3 19  B

In [257]:
attach(cars)#열기

The following objects are masked from cars (pos = 3):

    dist, speed

The following objects are masked from cars (pos = 4):

    dist, speed

The following objects are masked from cars (pos = 5):

    dist, speed

In [258]:
mean(speed) #attach함수로 인해 $ 안써도 됨

[1] 15.4

In [259]:
detach(cars) #닫기

In [261]:
#subset(데이터 , 조건) : 말그대로 부분집합. 조건에 맞는 것을 데이터셋에서 따로 뽑아서 저장
subset(cars, speed>20) #스피드가 20초과인 값을 출력

   speed dist
44 22     66
45 23     54
46 24     70
47 24     92
48 24     93
49 24    120
50 25     85

In [275]:
#논리연산자 : &(and), |(or)
subset(cars,speed>=20 & speed<=23, 'dist', drop=F) #car 셋에서 speed가 20이상 23미만이고 , 열 이름이 dist이것 출력

   dist
39 32
40 48
41 52
42 56
43 64
44 66
45 54

In [281]:
#airqulity : 공기의 질을 측정한 데이터 셋
str(airquality) #airquality 정보 출력
head(airquality, 10)

#na.omit() : 결측치 제거 함수
air = na.omit(airquality)

'data.frame':	153 obs. of  6 variables:
 $ Ozone  : int  41 36 12 18 NA 28 23 19 8 NA ...
 $ Solar.R: int  190 118 149 313 NA NA 299 99 19 194 ...
 $ Wind   : num  7.4 8 12.6 11.5 14.3 14.9 8.6 13.8 20.1 8.6 ...
 $ Temp   : int  67 72 74 62 56 66 65 59 61 69 ...
 $ Month  : int  5 5 5 5 5 5 5 5 5 5 ...
 $ Day    : int  1 2 3 4 5 6 7 8 9 10 ...

   Ozone Solar.R Wind Temp Month Day
1  41    190      7.4 67   5      1
2  36    118      8.0 72   5      2
3  12    149     12.6 74   5      3
4  18    313     11.5 62   5      4
5  NA     NA     14.3 56   5      5
6  28     NA     14.9 66   5      6
7  23    299      8.6 65   5      7
8  19     99     13.8 59   5      8
9   8     19     20.1 61   5      9
10 NA    194      8.6 69   5     10

In [283]:
air #결측치 제거된거 확인

    Ozone Solar.R Wind Temp Month Day
1    41   190      7.4 67   5      1
2    36   118      8.0 72   5      2
3    12   149     12.6 74   5      3
4    18   313     11.5 62   5      4
7    23   299      8.6 65   5      7
8    19    99     13.8 59   5      8
9     8    19     20.1 61   5      9
12   16   256      9.7 69   5     12
13   11   290      9.2 66   5     13
14   14   274     10.9 68   5     14
15   18    65     13.2 58   5     15
16   14   334     11.5 64   5     16
17   34   307     12.0 66   5     17
18    6    78     18.4 57   5     18
19   30   322     11.5 68   5     19
20   11    44      9.7 62   5     20
21    1     8      9.7 59   5     21
22   11   320     16.6 73   5     22
23    4    25      9.7 61   5     23
24   32    92     12.0 61   5     24
28   23    13     12.0 67   5     28
29   45   252     14.9 81   5     29
30  115   223      5.7 79   5     30
31   37   279      7.4 76   5     31
38   29   127      9.7 82   6      7
40   71   291     13.8 90   6      9
41   39   323     11.5 87   6     10
44   23   148      8.0 82   6     13
47   21   191     14.9 77   6     16
48   37   284     20.7 72   6     17
... ...   ...     ...  ...  ...   ...
123 85    188      6.3 94   8     31
124 96    167      6.9 91   9      1
125 78    197      5.1 92   9      2
126 73    183      2.8 93   9      3
127 91    189      4.6 93   9      4
128 47     95      7.4 87   9      5
129 32     92     15.5 84   9      6
130 20    252     10.9 80   9      7
131 23    220     10.3 78   9      8
132 21    230     10.9 75   9      9
133 24    259      9.7 73   9     10
134 44    236     14.9 81   9     11
135 21    259     15.5 76   9     12
136 28    238      6.3 77   9     13
137  9     24     10.9 71   9     14
138 13    112     11.5 71   9     15
139 46    237      6.9 78   9     16
140 18    224     13.8 67   9     17
141 13     27     10.3 76   9     18
142 24    238     10.3 68   9     19
143 16    201      8.0 82   9     20
144 13    238     12.6 64   9     21
145 23     14      9.2 71   9     22
146 36    139     10.3 81   9     23
147  7     49     10.3 69   9     24
148 14     20     16.6 63   9     25
149 30    193      6.9 70   9     26
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

In [291]:
#merge : 병합 , 여러 개의 데이터 프레임을 합칠 때 사용한다
name = c('홍길동','장보고','이순신','강감찬','김유신')
age = c( 17,21,19,31,22)
gender = factor(c('M','F','M','F','M'))
blood.type = factor(c('A','O','B','AB','O'))

p1= data.frame(name, age, gender)
p1

p2= data.frame(name, blood.type)
p2


#merge(데이터프레임1 , 데이터프레임2 , by = 합칠때 키값)
p3 = merge(p1, p2, by ='name') #겹치는 값을 확인
p3

  name   age gender
1 홍길동 17  M
2 장보고 21  F
3 이순신 19  M
4 강감찬 31  F
5 김유신 22  M

  name   blood.type
1 홍길동 A
2 장보고 O
3 이순신 B
4 강감찬 AB
5 김유신 O

  name   age gender blood.type
1 강감찬 31  F      AB
2 김유신 22  M      O
3 이순신 19  M      B
4 장보고 21  F      O
5 홍길동 17  M      A

In [297]:
name = c('홍길동','장보고','이순신','강감찬','김유신')
name2 = c('유관순','장보고','강감찬','임꺽정','홍길동')
age = c( 17,21,19,31,22)
gender = factor(c('M','F','M','F','M'))
blood.type = factor(c('A','O','B','AB','O'))

pp1 = data.frame(name, age, gender)
pp1

pp2 = data.frame(name2, blood.type)
pp2

pp3 = merge(pp1, pp2, by.x = 'name' , by.y = 'name2') #by.x : 첫번째 데이터 키값 , by.y : 두번째 데이터 키값
pp3 #같은 값이 있는 것만 합쳐져서 출력

pp4 = merge(pp1, pp2, by.x = 'name' , by.y = 'name2', all= T)
pp4 #모두 합침. 대신 결측치가 생김

  name   age gender
1 홍길동 17  M
2 장보고 21  F
3 이순신 19  M
4 강감찬 31  F
5 김유신 22  M

  name2  blood.type
1 유관순 A
2 장보고 O
3 강감찬 B
4 임꺽정 AB
5 홍길동 O

  name   age gender blood.type
1 강감찬 31  F      B
2 장보고 21  F      O
3 홍길동 17  M      O

  name   age gender blood.type
1 강감찬 31  F      B
2 김유신 22  M      NA
3 이순신 19  M      NA
4 장보고 21  F      O
5 홍길동 17  M      O
6 유관순 NA  NA     A
7 임꺽정 NA  NA     AB

### 6월 10일

### List(리스트)

In [11]:
#list 생성
#list (이름1 = 값, 이름2 = 값 , ... )

x = list(names = 'foo', height=170)
x

#객체의 크기를 다르게 지정
x = list(names = 'foo', height=c(1,2,3)) #행렬과 데이터프레임과 달리 값의 크기(갯수)를 다르게 해도상관 없음
x

#list안에 또 list 를 요소로 갖는 리스트 생성
list(a=list(val=c(1,2,3)),b=list(val=c(1,2,3,4))) # 리스트 카테고리 a에 val이라는 값을 가짐

x$name #데이터 프레임과 같이 이름으로 출력 할 수 있음

$names
[1] "foo"

$height
[1] 170

$names
[1] "foo"

$height
[1] 1 2 3

$a
$a$val
[1] 1 2 3


$b
$b$val
[1] 1 2 3 4

[1] "foo"

[1] "foo"

NULL

$names
[1] "foo"

[1] 1 2 3

$height
[1] 1 2 3

In [34]:
#list요소 접근법 : [[index]] or [['변수명']]

x[[1]] #첫번째 인덱스의 값을 가져옴
x[['names']] #위와 동일
x$names #위와 동일
x[1] #첫번째 이름 + 인덱스 값을 가져옴

x[[2]] #두번째 인덱스의 값을 가져옴
x[['height']] #위와 동일
x$height #위와 동일
x[2] #두번째 이름 + 인덱스 값을 가져옴

[1] "foo"

[1] "foo"

[1] "foo"

$names
[1] "foo"

[1] 1 2 3

[1] 1 2 3

[1] 1 2 3

$height
[1] 1 2 3

In [44]:
#리스트의 넣을 값들 생성
a = c(1,2,3,4,5)
b = c(T,F,T,T,F,T)
c = data.frame(name = c('Alice','James','Merry'), age = c(23, 41, 19))

lis = list(a,b,c) #종류 상관 없이 묶을 수 있음


var_list = list(v1=a, v2=b, v3=c)# list에 변수명 지정
var_list

names(var_list) #객체의 변수명을 확인

names(var_list)[3] = 'df' #객체의 3번째 변수명 변경

names(var_list) = c('item1', 'item2', 'item3') #var_list의 변수명을 모두 변경
var_list

$v1
[1] 1 2 3 4 5

$v2
[1]  TRUE FALSE  TRUE  TRUE FALSE  TRUE

$v3
   name age
1 Alice  23
2 James  41
3 Merry  19

[1] "v1" "v2" "v3"

$item1
[1] 1 2 3 4 5

$item2
[1]  TRUE FALSE  TRUE  TRUE FALSE  TRUE

$item3
   name age
1 Alice  23
2 James  41
3 Merry  19

In [45]:
#length() : 객체의 크기를 반환하는 함수
length(var_list) #리스트 카테고리가 3개가 있음

[1] 3

In [46]:
#list의 str 과 summary
str(var_list) 
summary(var_list) #Class : 데이터를 담은 그릇 , Mode : 그릇에 담겨 있는 값의 형태

List of 3
 $ item1: num [1:5] 1 2 3 4 5
 $ item2: logi [1:6] TRUE FALSE TRUE TRUE FALSE TRUE
 $ item3:'data.frame':	3 obs. of  2 variables:
  ..$ name: Factor w/ 3 levels "Alice","James",..: 1 2 3
  ..$ age : num [1:3] 23 41 19

      Length Class      Mode
item1 5      -none-     numeric
item2 6      -none-     logical
item3 2      data.frame list

In [50]:
var_list = list(v1=a, v2=b, v3=c)

#list의 카테고리 변경
var_list
var_list[['item3']] = c('A','B','C') # =를 써서 바꾸고 싶은 곳을 바꾸면 됨
var_list

var_list$item1 = NULL #삭제시
var_list

#새로운 카테고리 생성
var_list$new_item = data.frame(name=c('aaa','bbb'),age=c(12,29))
var_list

$v1
[1] 1 2 3 4 5

$v2
[1]  TRUE FALSE  TRUE  TRUE FALSE  TRUE

$v3
   name age
1 Alice  23
2 James  41
3 Merry  19

$v1
[1] 1 2 3 4 5

$v2
[1]  TRUE FALSE  TRUE  TRUE FALSE  TRUE

$v3
   name age
1 Alice  23
2 James  41
3 Merry  19

$item3
[1] "A" "B" "C"

$v1
[1] 1 2 3 4 5

$v2
[1]  TRUE FALSE  TRUE  TRUE FALSE  TRUE

$v3
   name age
1 Alice  23
2 James  41
3 Merry  19

$item3
[1] "A" "B" "C"

$v1
[1] 1 2 3 4 5

$v2
[1]  TRUE FALSE  TRUE  TRUE FALSE  TRUE

$v3
   name age
1 Alice  23
2 James  41
3 Merry  19

$item3
[1] "A" "B" "C"

$new_item
  name age
1  aaa  12
2  bbb  29

In [56]:
#리스트와 각 요소에 동일한 함수를 반복문 없이 적용할때 사용하는 함수
#lapply(리스트, 적용할 함수) : 리스트로 결과 반환
#sapply(리스트, 적용할 함수) : 결과값이 하나면 벡터, 결과값이 같은 길이의 벡터면 행렬, 그외에는 리스트로 반환

korea_temp = list(경기 = c(-10, 2, 1, -2), 강원 = c(0, -4, -5, -10))
korea_temp

re_lap = lapply(korea_temp, mean) #korea_temp의 평균 온도를 리스트로 출력
re_lap
class(re_lap)

re_sap = sapply(korea_temp, mean) #korea_temp의 평균 온도를 벡터로 출력
re_sap
class(re_sap)

$경기
[1] -10   2   1  -2

$강원
[1]   0  -4  -5 -10

$경기
[1] -2.25

$강원
[1] -4.75

[1] "list"

 경기  강원
-2.25 -4.75

[1] "numeric"