### 제어문

In [1]:
x = c(10, 20, 30, NA, 50)
x

# 벡터에 저장된 값이 40 미만인 값만 추출
x<40 # x의 원소의 값중 40 보다 작으면 T, 아니면 F / 결측값은 비교가 불가능하기 때문에 NA
x[x<40] #x의 원소 중 T인 값들과 겹치는 부분을 출력

x%%3 != 0 # %% : 나머지 구하는 함수 / 3의 배수가 아니면 T 아니면 F
x[x%%3 != 0] #위와 마찬가지로 T인 부분만 출력

is.na(x) #is.na(): 괄호 안에 있는 값이 결측값이면 T 아니면 F
x[is.na(x)] # T인 값만 출력
x[!is.na(x)] # F인 값만 출력 (반전 되서)

[1] 10 20 30 NA 50

[1]  TRUE  TRUE  TRUE    NA FALSE

[1] 10 20 30 NA

[1]  TRUE  TRUE FALSE    NA  TRUE

[1] 10 20 NA 50

[1] FALSE FALSE FALSE  TRUE FALSE

[1] NA

[1] 10 20 30 50

In [8]:
# 논리연산자 : !(NOT) - 단항연산 / &(AND), |(OR)(아이 아닙니다) -이항연산

x%%2 == 0 & !is.na(x) # 2의 배수이면서, 결측값이 아닌 값을 T , 아니면 F

x[x%%2 == 0 & !is.na(x)] # T인 값을 출력

[1]  TRUE  TRUE  TRUE FALSE  TRUE

[1] 10 20 30 50

In [22]:
#데이터 프레임 생성
student = data.frame(name = c('홍길동', '이순신', '유관순', '장보고'),
                    age = c(21,33,19,41),
                    gender = factor(c('M','M','F','M')))

#데이터 프레임의 조건식 : [행조건식, 열조건식]

student[student$gender=='M',] #성별이 M인 남성 추출
student[student$gender=='M'& student$age < 35,'name'] # + 나이가 35 미만, 이름만 출력
student[student$gender=='M'& student$age < 35,c('name','age')] # + 나이도 출력

  name   age gender
1 홍길동 21  M
2 이순신 33  M
4 장보고 41  M

[1] 홍길동 이순신
Levels: 유관순 이순신 장보고 홍길동

  name   age
1 홍길동 21
2 이순신 33

In [27]:
#단순 if~else 문 : 하나의 조건에 의해 판정할 때 사용하는 문장
x = 5

if(x%%2==0){
    print('x는 짝수') #조건식이 참일때 실행
}else{
    print('x는 홀수') #나머지 경우 실행
}

ifelse(x%%2==0, 'x는 짝수' , 'x는 홀수') #대부분 선택지가 2개면 줄여서 이렇게 씁니다
#ifelse(조건식, 참일때 출력할 값, 거짓일때 출력할 값)

[1] "x는 홀수"
[1] "x는 홀수"

[1] "x는 홀수"

In [34]:
#함수명 ()
#readline() : 줄단위로 입력 받는 함수, 문자로 취급된다

x = readline('숫자하나 입력 : ') #값을 입력받아 문자로 저장
x = as.integer(x)
if(x%%2==0){
    print('x는 짝수') #조건식이 참일때 실행
}else{
    print('x는 홀수') #나머지 경우 실행
}

숫자하나 입력 : 6
[1] "x는 짝수"

In [38]:
#하나의 숫자를 입력받아 양수인지 음수인지 0인지 출력하는 프로그램을 구현하시오
x = readline('숫자하나 입력 : ') 
x = as.integer(x)
if(x>0){
    print('x는 양수입니다')  #첫번쨰 조건 만족시 출력
}else if(x<0){
    print('x는 음수 입니다') #두번째 조건 만족시 출력
}else{
    print('x는 0입니다') #나머지 출력
}

숫자하나 입력 : -11
[1] "x는 음수 입니다"

In [40]:
#학점
score = readline ( "점수 입력 : ")
score = as.integer(score)

#as.character()
#as.numeric
#as


if(score>=90){
    print('A학점')  #첫번쨰 조건 만족시 출력
}else if(score>=80){
    print('B학점') #두번째 조건 만족시 출력
}else if(score>=70){
    print('C학점') #세번째 조건 만족시 출력
}else if(score>=60){
    print('D학점') #네번째 조건 만족시 출력
}else{
    print('F') #다섯번째 조건 만족시 출력
}

점수 입력 : 77
[1] "C학점"

In [43]:
#삼항연산자 : ifelse(조건식, 참일때 출력할 값, 거짓일때 출력할 값)

x=5
ifelse(x%%2==0, 'x는 짝수' , 'x는 홀수') #대부분 선택지가 2개면 줄여서 이렇게 씁니다

[1] "x는 홀수"

### 반복문

In [53]:
# 1~10까지 수 출력
# repeat{반복처리할 구문}

num=1

repeat{ #무한 반복
    if(num > 10) { #10보다 커지면
        break #멈추고
    }else{ #그게 아니면
        print(num) #값을 프린트 한뒤
        num = num+1 #값에 +1을 합니다.
    } #이걸 다시 위로 올라가서 반복 하겠습니다.
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [54]:
#for(개별 변수 in 집합 변수){ 반복처리할 구문}

for (i in 1:10){ # i는 1~10을 차례대로 반복할겁니다.
    print(i) # 현재 i 값을 출력 해줍니다.
} #다시 위로 가서 반복합니다.

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [62]:
#while(조건식){참일때 반복할 구문}
i = 1

while(i<=10){ #i가 10 이하 일때 까지 아래 내용을 반복합니다.
    print(i) #현재 i 값을 출력 합니다.
    i=i+1 #i의 값을 +1 합니다.
} #다시 위로 가서 반복합니다

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [2]:
# 1~100 사이의 짝수만 출력하는 구문

for(i in seq(100)){ 
    if(i%%2==0){
        print(i)
    }
}

[1] 2
[1] 4
[1] 6
[1] 8
[1] 10
[1] 12
[1] 14
[1] 16
[1] 18
[1] 20
[1] 22
[1] 24
[1] 26
[1] 28
[1] 30
[1] 32
[1] 34
[1] 36
[1] 38
[1] 40
[1] 42
[1] 44
[1] 46
[1] 48
[1] 50
[1] 52
[1] 54
[1] 56
[1] 58
[1] 60
[1] 62
[1] 64
[1] 66
[1] 68
[1] 70
[1] 72
[1] 74
[1] 76
[1] 78
[1] 80
[1] 82
[1] 84
[1] 86
[1] 88
[1] 90
[1] 92
[1] 94
[1] 96
[1] 98
[1] 100

In [3]:
# 1부터 10 사이의 수중  소수만 출력하는 구문을 기술하시오.

for(i in 1:10){ #i를 1부터 10까지 실행
    count = 0 #카운트 포인트
    for(j in 1:i){ #j는 1부터 현재 i 값까지 반복
        if(i%%j == 0){ #i를 j로 나눴는데 나눠지면,
            count = count + 1 #카운트 값을 1
        } #count가 +1 된다는 것은 한번 나눠 졌다라는 말
    } #그렇다는 건 2번 나눠 졌는 것은 약수가 2개 라는 말 = 소수
    if(count == 2){ #위의 말과 동일할 때
        print(i) #i의 값을 출력해주세요.
    }
}#위에 반복

[1] 2
[1] 3
[1] 5
[1] 7

In [4]:
#while문 구구단 출력
i=1
while(i<=10){
    print(paste(7, '*', i, '=', 7*i ))
    i = i+1
}

[1] "7 * 1 = 7"
[1] "7 * 2 = 14"
[1] "7 * 3 = 21"
[1] "7 * 4 = 28"
[1] "7 * 5 = 35"
[1] "7 * 6 = 42"
[1] "7 * 7 = 49"
[1] "7 * 8 = 56"
[1] "7 * 9 = 63"
[1] "7 * 10 = 70"

In [1]:
j=1
while(j<10){
    cat(7, '*', j, '=', 7*j ,'\n')
    j = j+1
}

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

### 함수

In [12]:
#점수가 80점 이상이면 합격, 그렇지 않으면 불합격

check <- function(score){  #check라는 함수를 다음과 같이 정의 (변수는 score)
        if(score>=80){ #score가 80이상이면
        print('합격') #합격 출력
    }else{
        print('불합격') #그 외엔 불합격 출력
    }
}

check(70)
check(88)

[1] "불합격"
[1] "합격"

In [4]:
# 입력받은 단수에따라 구구단을 출력하는 프로그램을 구현 하시오.
#단 입력은 사용자에 의해 받아서 처리할것

ggd<- function(){
    x = readline ( "출력할 구구단 : ")
    x = as.integer(x)
    j=1
    while(j<10){
        cat(x, '*', j, '=', x*j ,'\n')
        j = j+1
    }
}

ggd()

출력할 구구단 : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45