### R 내장 데이터셋을 불러오기

In [1]:
#R내장 데이터 셋의 목록을 확인하는 함수
data()

In [2]:
#데이터 구조를 확인하기
#str(dataset) : 데이터의 구조 확인, 객체 구조 확인
str(iris)

#'data.frame':	150 obs. of  5 variables: 
# $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
# $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
# $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
# $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
# $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [4]:
#실제 데이터 탐색 : head(데이터 셋, 볼 갯수), tail(데이터 셋, 볼 갯수) -
head(iris) #앞에서부터 출력
tail(iris) #뒤에서부터 출력

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

### 파일 입출력

In [15]:
#csv파일 읽어오기
#read.csv(파일 경로 + 이름) :csv
#read.table()
setwd('C:/Datasience/R_basic') #읽어 오는 파일 위치 변경
getwd() #변경된 위치 확인

x=read.csv('a.csv')
x

y=read.csv('b.csv') # 열이름이(머릿글) 없으면 파일이 깨짐
y 
y1=read.csv('b.csv', header = F) #F로 바꿔주면 열이름(머릿글) 생성
y1=read.csv('b.csv', F)#생략 가능
y1

[1] "C:/Datasience/R_basic"

  id name   score
1 1  Mr.foo 95
2 2  Ms.Bar 97
3 3  Mr.Baz 88

  X1 Mr.foo X95
1 2  Ms.Bar 97
2 3  Mr.Baz 88

  V1 V2     V3
1 1  Mr.foo 95
2 2  Ms.Bar 97
3 3  Mr.Baz 88

In [17]:
# 컬럼명(or 변수명 or 속성명)
names(y1) = c('id','name','score') #열 이름 변경
y1

  id name   score
1 1  Mr.foo 95
2 2  Ms.Bar 97
3 3  Mr.Baz 88

In [21]:
#형변환
y1$name = as.character(y1$name) # 팩터를 문자형으로 변환
str(y1)

'data.frame':	3 obs. of  3 variables:
 $ id   : int  1 2 3
 $ name : chr  "Mr.foo" "Ms.Bar" "Mr.Baz"
 $ score: int  95 97 88

In [34]:
#stringsAsFactors = T/F
z=read.csv("a.csv", stringsAsFactors =F) #애초에 저장을 이렇게 하면 펙터가 없음
str(z)

'data.frame':	3 obs. of  3 variables:
 $ id   : int  1 2 3
 $ name : chr  "Mr.foo" "Ms.Bar" "Mr.Baz"
 $ score: int  95 97 88

In [38]:
xx = read.csv("c.csv") #결측값이 포함된 경우
xx
str(xx)

  id name   score
1 1  Mr.foo 95
2 2  Ms.Bar 97
3 3  Mr.Baz 88
4 4  Ms.Kin NA

'data.frame':	4 obs. of  3 variables:
 $ id   : int  1 2 3 4
 $ name : Factor w/ 4 levels "Mr.Baz","Mr.foo",..: 2 3 1 4
 $ score: int  95 97 88 NA

In [40]:
yy = read.csv("c.csv", na.strings="NA") #결측값이 포함된 경우 가끔 int가 아니게 인식 되면 na.strings 옵션을 쓰면 됌
str(yy)

'data.frame':	4 obs. of  3 variables:
 $ id   : int  1 2 3 4
 $ name : Factor w/ 4 levels "Mr.Baz","Mr.foo",..: 2 3 1 4
 $ score: int  95 97 88 NA

In [41]:
mean(yy$score) #결측값이 있기 때문에 값이 출력이 안됨

[1] NA

In [44]:
#is.na()
is.na(yy) #데이터 프레임으로 확인
is.na(yy$score) #스코어 열에 결측치 확인

colSums(is.na(yy)) # 참고 : 이렇게 쓰면 결측치가 있는 열의 결측치 갯수만큼 출력 됩니다

     id    name  score
[1,] FALSE FALSE FALSE
[2,] FALSE FALSE FALSE
[3,] FALSE FALSE FALSE
[4,] FALSE FALSE  TRUE

[1] FALSE FALSE FALSE  TRUE

   id  name score
    0     0     1

In [45]:
#csv 파일로 저장
write.csv(yy,'d.csv',row.names=F)

### save()와 load()

In [52]:
#파일단위의 처리가 아니라 R의 데이터단위(RData)처리할 때 사용하는 함수
#save(),load()
x=1:5
y=6:10
x
y

save(x,y,file="xy.RData") #x, y 변수 값을 xy.RData이름으로 저장
rm(x,y) #x,y데이터 삭제
x #삭제 된거 확인

[1] 1 2 3 4 5

[1]  6  7  8  9 10

ERROR: Error in eval(expr, envir, enclos): 객체 'x'를 찾을 수 없습니다

In [55]:
load('xy.RData') #저장 내용 불러오기
x
y

[1] 1 2 3 4 5

[1]  6  7  8  9 10

### rbind(), cbind()

In [65]:
rbind(c(1,2,3),c(4,5,6)) #행으로 합침. 앞의 벡터가 1행 , 뒤에가 2행
cbind(c(1,2,3),c(4,5,6)) #열로 합침

x = data.frame(id = c(1,2), name = c('a','b'), stringsAsFactors = F)
x
str(x)

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

  id name
1 1  a
2 2  b

In [69]:
z = cbind(x, greek=c('alpha','beta')) # x라는 데이터 프레임에 greek라는 행을 넣어줌
z
str(z)

  id name greek
1 1  a    alpha
2 2  b    beta

'data.frame':	2 obs. of  3 variables:
 $ id   : num  1 2
 $ name : chr  "a" "b"
 $ greek: Factor w/ 2 levels "alpha","beta": 1 2

In [72]:
w= cbind(x, greek=c('alpha','beta'), stringsAsFactors = F) # + factor 값을 없게 잡음
w
str(w)

  id name greek
1 1  a    alpha
2 2  b    beta

'data.frame':	2 obs. of  3 variables:
 $ id   : num  1 2
 $ name : chr  "a" "b"
 $ greek: chr  "alpha" "beta"

### apply 계열의 함수들

In [78]:
#apply() : 행단위 또는 열단위로 특정 함수를 적용할 떄 사용
#apply(행렬, 방향, 함수) : 반향 - 1(행), 2(열)

m = matrix(1:9, nrow=3)
m
apply(m, 1 ,sum) #행끼리의 합의 값
apply(m, 2 ,sum) #열끼리의 합의 값

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

[1] 12 15 18

[1]  6 15 24

In [83]:
# iris의 각 관측값에 합을 계산하는 작업을 수행하시오
apply(iris[,-5], 2, sum)
colSums(iris[,-5]) #위와 동일
#행, 열의 평균을 계산하는 함수 : rowMeans(),colMeans()
#행, 열의 합을 계산하는 함수 : rowMeans(),colMeans()

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       876.5        458.6        563.7        179.9

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       876.5        458.6        563.7        179.9

In [98]:
#lapply(벡터나 리스트 , 함수)

#만약에 관측값의 평균을 계산한 후 각 요소에 평균을 뺀값을 추출하시오.
b = c(10,13,21,33,40)
y=mean(b)
b-y

# lapply 함수로 다음과 같이 할 수 있다. (위와 동일)
f1= function(x){mean(b) - x}
result = lapply(b , f1 )
result

#unlist() : 리스트를 벡터로 변환
result1 = unlist(result)
result1

[1] -13.4 -10.4  -2.4   9.6  16.6

[[1]]
[1] 13.4

[[2]]
[1] 10.4

[[3]]
[1] 2.4

[[4]]
[1] -9.6

[[5]]
[1] -16.6

[1]  13.4  10.4   2.4  -9.6 -16.6

In [107]:
x = list(a = 1:3, b = 4:6)
x

lapply(x, mean) # 리스트 또한 사용 가능

lapply(iris[,1:4],mean) #데이터 프레임도 가능
class(lapply(iris[,1:4],mean) ) #리스트로 반환된 결과가 나온다
colMeans(iris[,-5])

$a
[1] 1 2 3

$b
[1] 4 5 6

$a
[1] 2

$b
[1] 5

$Sepal.Length
[1] 5.843333

$Sepal.Width
[1] 3.057333

$Petal.Length
[1] 3.758

$Petal.Width
[1] 1.199333

[1] "list"

[1] 5.843333

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
    5.843333     3.057333     3.758000     1.199333

In [122]:
# 데이터프레임을 lapply 함수를 이용해 계산된 결과는 리스트로 반환된다
# 리스트로 반환된 결과값을 데이터프레임으로 변환하려면 
# unlist() : 리스트를 벡터로 변환하는 함수
# matrix() : 벡터를 행렬로 변환하는 함수
# as.data.frame() : 행렬을 데이터프레임으로 형변환
# names() : 리스트의 결과에 변수를 데이터프레임의 열이름으로 부여하는 작업 

df = as.data.frame(matrix(unlist(lapply(iris[,1:4],mean)), byrow = T, ncol=4))
names(df) = names(iris[,-5])
df

  Sepal.Length Sepal.Width Petal.Length Petal.Width
1 5.843333     3.057333    3.758        1.199333

In [125]:
#do.call(호출할 함수, 파라미터)
#unlist()는 리스트를 벡터로 변환하는 함수이다. 벡터는 한가지 타입의 데이터만 저장할 수 있다.
#이에 반해 리스트는 서로다른 자료형을 담아서 처리할 수 있는 자료형이다.
#그래서 데이터가 손실이 될 수 도 있다.

data.frame(do.call(cbind, lapply(iris[,-5],mean)))

  Sepal.Length Sepal.Width Petal.Length Petal.Width
1 5.843333     3.057333    3.758        1.199333

In [132]:
aa = c(1,2,3.5,7,'aaa')
aa

[1] "1"   "2"   "3.5" "7"   "aaa"

In [135]:
x = list(data.frame(name='foo', value=1),data.frame(neme='bar',value=2))
x
do.call(cbind,x)

[[1]]
  name value
1  foo     1

[[2]]
  neme value
1  bar     2

  name value neme value
1 foo  1     bar  2

In [142]:
#sapply : lapply와 유사하지만 리스트 대신 , 행렬 or 벡터 등으로 결과가 반환된다.
# iris 컴럼별로 평균을 출력

xy = sapply(iris[,-5],mean)
as.data.frame(t(xy)) # t() :전치행렬 = 행과 열을 바꿔줌

  Sepal.Length Sepal.Width Petal.Length Petal.Width
1 5.843333     3.057333    3.758        1.199333

In [153]:
#iris 데이터셋의 각 컬럼의 관측값이 3보다 큰값이인지 분석하시오.
k=sapply(iris[,-5], function(x){x>3})
k
class(k)

      Sepal.Length Sepal.Width Petal.Length Petal.Width
 [1,] TRUE          TRUE       FALSE        FALSE
 [2,] TRUE         FALSE       FALSE        FALSE
 [3,] TRUE          TRUE       FALSE        FALSE
 [4,] TRUE          TRUE       FALSE        FALSE
 [5,] TRUE          TRUE       FALSE        FALSE
 [6,] TRUE          TRUE       FALSE        FALSE
 [7,] TRUE          TRUE       FALSE        FALSE
 [8,] TRUE          TRUE       FALSE        FALSE
 [9,] TRUE         FALSE       FALSE        FALSE
[10,] TRUE          TRUE       FALSE        FALSE
[11,] TRUE          TRUE       FALSE        FALSE
[12,] TRUE          TRUE       FALSE        FALSE
[13,] TRUE         FALSE       FALSE        FALSE
[14,] TRUE         FALSE       FALSE        FALSE
[15,] TRUE          TRUE       FALSE        FALSE
[16,] TRUE          TRUE       FALSE        FALSE
[17,] TRUE          TRUE       FALSE        FALSE
[18,] TRUE          TRUE       FALSE        FALSE
[19,] TRUE          TRUE       FALSE        FALSE
[20,] TRUE          TRUE       FALSE        FALSE
[21,] TRUE          TRUE       FALSE        FALSE
[22,] TRUE          TRUE       FALSE        FALSE
[23,] TRUE          TRUE       FALSE        FALSE
[24,] TRUE          TRUE       FALSE        FALSE
[25,] TRUE          TRUE       FALSE        FALSE
[26,] TRUE         FALSE       FALSE        FALSE
[27,] TRUE          TRUE       FALSE        FALSE
[28,] TRUE          TRUE       FALSE        FALSE
[29,] TRUE          TRUE       FALSE        FALSE
[30,] TRUE          TRUE       FALSE        FALSE
[31,] ...          ...         ...          ...
[32,] TRUE          TRUE       TRUE         FALSE
[33,] TRUE         FALSE       TRUE         FALSE
[34,] TRUE         FALSE       TRUE         FALSE
[35,] TRUE         FALSE       TRUE         FALSE
[36,] TRUE          TRUE       TRUE         FALSE
[37,] TRUE          TRUE       TRUE         FALSE
[38,] TRUE         FALSE       TRUE         FALSE
[39,] TRUE         FALSE       TRUE         FALSE
[40,] TRUE         FALSE       TRUE         FALSE
[41,] TRUE         FALSE       TRUE         FALSE
[42,] TRUE         FALSE       TRUE         FALSE
[43,] TRUE          TRUE       TRUE         FALSE
[44,] TRUE         FALSE       TRUE         FALSE
[45,] TRUE         FALSE       TRUE         FALSE
[46,] TRUE         FALSE       TRUE         FALSE
[47,] TRUE         FALSE       TRUE         FALSE
[48,] TRUE          TRUE       TRUE         FALSE
[49,] TRUE          TRUE       TRUE         FALSE
[50,] TRUE         FALSE       TRUE         FALSE
[51,] TRUE          TRUE       TRUE         FALSE
[52,] TRUE          TRUE       TRUE         FALSE
[53,] TRUE          TRUE       TRUE         FALSE
[54,] TRUE         FALSE       TRUE         FALSE
[55,] TRUE          TRUE       TRUE         FALSE
[56,] TRUE          TRUE       TRUE         FALSE
[57,] TRUE         FALSE       TRUE         FALSE
[58,] TRUE         FALSE       TRUE         FALSE
[59,] TRUE         FALSE       TRUE         FALSE
[60,] TRUE          TRUE       TRUE         FALSE
[61,] TRUE         FALSE       TRUE         FALSE

[1] "matrix"

In [171]:
#tapply(데이터, 색인, 함수) : 그룹별 처리를 위한 apply 계열의 함수 / 색인 : factor타입
tapply(1:10, rep(1:2,5), sum)

#1부터 10까지의 숫자의 짝수합과 짝수합을 산출
tapply(1:10, rep(c('홀','짝'),5), sum)

#A와 B그룹에 나이가 15~35세인 사람들이 5명씩 있을 때 그릅별 평균 연령을 산출하시오.
group = c(rep('A', 5), rep('B', 5))
age = c(sample(15:35, 10))
data = data.frame(group, age)
data
tapply(data$age, data$group, mean)

 1  2
25 30

짝 홀
30 25

   group age
1  A     23
2  A     16
3  A     18
4  A     34
5  A     29
6  B     19
7  B     25
8  B     15
9  B     27
10 B     35

   A    B
24.0 24.2

In [170]:
#iris 데이터셋의 품종별로 Sepal.Length의 평균을 산출

tapply(iris$Sepal.Length, iris$Species, mean)

    setosa versicolor  virginica
     5.006      5.936      6.588